.contacteBadge,
.traiteBadge {
  display: inline-flex;
  align-items: center;
  height: 20px;
  gap: 4px;
  padding: 0 6px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  white-space: nowrap;
}

.contacteBadge {
  color: var(--text-default-success);
  background-color: var(--background-contrast-success);
}

.traiteBadge {
  color: var(--text-inverted-success);
  background-color: var(--background-flat-success);
}
