.header {
  margin-bottom: 2rem;
}

.filters {
  margin-bottom: 2rem;
}

.filtersRow {
  display: flex;
  gap: 1rem;
}

.segment {
  padding: 32px;
  margin-bottom: 2rem;
  background: var(--background-raised-grey);
  border-radius: 4px;
}

.segmentHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
