.bannerSlot {
  display: grid;
}

.bannerSlot:has(> *) {
  min-height: 8.5rem;
}

.bannerSlot > * {
  display: flex;
  align-items: center;
}

.content {
  flex: 1;
  background: linear-gradient(180deg, #f6f6f6 5.73%, #f5f5fe 41.13%);
}

@media (max-width: 60em) {
  .bannerSlot:has(> *) {
    min-height: 9.75rem;
  }
}

@media (max-width: 48em) {
  .bannerSlot:has(> *) {
    min-height: 0;
  }
}
