.searchContainer {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.searchInput {
  width: 100%;
  max-width: 500px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
  width: 100%;
}
