.title {
  margin-bottom: 1rem;
  font-size: 40px;
  font-weight: 700;
  color: var(--text-title-blue-france);
}

.description {
  max-width: 48rem;
  margin-bottom: 2rem;
}

.status {
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;
}

.statusComplete {
  color: var(--text-default-success);
}

.statusIncomplete {
  color: var(--text-default-error);
}

.errorCount {
  font-weight: 700;
  color: var(--text-default-error);
}
