.cell {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.name {
  margin: 0;
  line-height: 1.3;
}

.caption {
  margin: 0;
  font-size: 0.75rem;
  line-height: 1.2;
  color: var(--text-mention-grey);
}

.captionEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.organisation {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.3;
}

.organisationLink {
  color: var(--text-action-high-blue-france);
  text-decoration: none;
  background-image: none;
}

.organisationLink:hover {
  text-decoration: underline;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: none;
}
