.panel {
  padding: 1rem;
  background-color: var(--background-alt-grey);
  border: 1px solid var(--border-default-grey);
  border-radius: var(--spacing-1v);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.title {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.cell button > span:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 600px) {
  .panel {
    padding: 1.5rem;
  }

  .header {
    flex-direction: row;
    gap: 0;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
