.syntheseIcon {
  margin-right: 5px;
  min-width: 22px;
  min-height: 22px;
  flex-shrink: 0;
}

.bannerContainer {
  background-color: #f6f6f6;
  padding: 34px 0;
  margin-bottom: 32px;
}

.bannerContent {
  margin: auto;
  max-width: 1232px;
}

.bannerTitle {
  font-size: 24px;
  font-weight: 700;
  color: #000091;
  margin: 0;
}

.mainContainer {
  margin: auto;
  max-width: 1232px;
}

.sideMenuContainer {
  max-height: none;
  overflow: visible;
}
