.monthTableEmpty {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.monthTableTitle {
  color: var(--text-title-blue-france);
  text-align: left;
  margin: 0;
}

.monthTableEmptyText {
  color: var(--text-disabled-grey);
  font-style: italic;
  text-align: left;
  margin: 0;
}

.monthTableNameContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.prioritaireBadge {
  gap: 0.2rem;
}

.noWrapBadge {
  white-space: nowrap;
}

.monthSection {
  padding: 1.5rem;
  background-color: #f6f6f6;
}

.monthHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.monthTitle {
  color: var(--text-title-blue-france);
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
}
