.pageHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: 1px solid var(--border-default-grey);
}

.pageHeaderLink {
  font-size: 14px !important;
}

.pageHeaderCenter {
  display: flex;
  align-items: center;
}

.pageHeaderText {
  margin: 0;
  font-weight: bold;
  font-size: 12px;
}

.pageHeaderSubtext {
  margin-left: 8px;
  font-size: 12px;
}

.pageHeaderDesktopText {
  display: flex;
  align-items: center;
}

.pageHeaderMobileText {
  display: none;
  align-items: center;
}

@media (max-width: 767px) {
  .pageHeaderDesktopText {
    display: none;
  }

  .pageHeaderMobileText {
    display: flex;
  }
}
