.whatsappBadgeCallback {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  background-color: #ededed;
  color: #3a3a3a;
}

.whatsappBadgeNoHelp {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  background-color: #ffe9e6;
  color: #ce0500;
}
