.syntheseIcon {
  margin-left: 4px;
  margin-right: 5px;
  min-width: 22px;
  min-height: 22px;
  flex-shrink: 0;
}

.regionsIcon {
  width: 22px;
  height: 22px;
  margin-left: 4px;
  margin-right: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.regionsIcon svg {
  width: 100%;
  height: 100%;
}

.regionItemIcon {
  width: 22px;
  height: 22px;
  margin-left: 4px;
  margin-right: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  vertical-align: middle;
}

.regionItemIcon svg {
  width: 100%;
  height: 100%;
}

.bannerContainer {
  background-color: #f6f6f6;
  padding: 34px 0;
  margin-bottom: 32px;
  margin-top: -2.5rem;

  /* Full-bleed technique : pas le plus propre mais le plus simple */
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.bannerContent {
  margin: auto;
  max-width: 1232px;
  padding: 0 24px;
}

.bannerTitle {
  font-size: 24px;
  font-weight: 700;
  color: #000091;
  margin: 0;
}

.mainContainer {
  margin: auto;
}

.sideMenuColumn {
  border-right: 1px solid #dddddd;
  min-height: 100%;
}

.contentColumn {
  padding-left: 24px;
}

.sideMenuContainer {
  max-height: none;
  overflow: visible;
  padding-right: 0;
}

@media (min-width: 48em) {
  .sideMenuContainer :global(.fr-sidemenu__inner) {
    box-shadow: none;
  }

  .sideMenuColumn {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .contentColumn {
    flex: 0 0 80%;
    max-width: 80%;
  }
}
