.regionStatsTable {
  display: flex;
  justify-content: center;
}

.regionStatsTable table {
  width: 100%;
  table-layout: fixed;
}

.regionStatsTable th:first-child,
.regionStatsTable td:first-child {
  width: 300px;
}

.regionStatsTable th:nth-child(2),
.regionStatsTable td:nth-child(2) {
  width: 150px;
  text-align: center;
}

.regionStatsTable th:nth-child(3),
.regionStatsTable td:nth-child(3) {
  width: 200px;
  text-align: center;
}

.regionStatsTable th:nth-child(4),
.regionStatsTable td:nth-child(4) {
  width: 200px;
  text-align: center;
}

.regionStatsTable th:nth-child(5),
.regionStatsTable td:nth-child(5) {
  width: 80px;
}

.centeredCell {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
}

.sortableHeader {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sortableHeaderCentered {
  composes: sortableHeader;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
}

.emptyMessage {
  text-align: center;
  padding: 1rem;
}

.delta {
  font-size: 12px;
  vertical-align: middle;
}

.deltaZero {
  composes: delta;
  color: var(--text-default-grey);
}

.deltaPositive {
  composes: delta;
  color: var(--text-default-success);
}

.deltaNegative {
  composes: delta;
  color: var(--text-default-error);
}

.engagementBadge {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.engagementBadgeHigh {
  composes: engagementBadge;
  background-color: var(--background-contrast-success);
  color: var(--text-label-green-emeraude);
}

.engagementBadgeLow {
  composes: engagementBadge;
  background-color: var(--background-contrast-grey);
  color: var(--text-mention-grey);
}

.sortIcon {
  font-size: 1rem;
}

.sortableContent {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
