.card {
  border: none;
  box-shadow: none;
  background: white;
  flex: 1 1 calc(25% - 6px);
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.cardBody {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cardContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cardLabel {
  color: var(--text-default-grey);
  margin-bottom: auto;
  padding-bottom: 16px;
  font-weight: 700;
  line-height: 24px;
  font-size: 16px;
}

.cardValue {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  margin-bottom: 0;
}

.cardPercentage {
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
}
