.cardsContainer {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: stretch;
}

.card {
  border: none;
  box-shadow: none;
  background: white;
  flex: 1 1 calc(25% - 6px);
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.cardBody {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cardContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cardLabel {
  color: var(--text-default-grey);
  margin-bottom: auto;
  padding-bottom: 16px;
  font-weight: 700;
  line-height: 24px;
  font-size: 16px;
}

.cardValue {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  margin-bottom: 0;
}

.cardPercentage {
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
}

.sectionContainer {
  background-color: #f6f6f6;
  padding: 32px 16px;
}

.deploymentContentCard {
  background-color: white;
  padding: 32px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.deploymentMapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deploymentLegendsContainer {
  flex: 0 0 370px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deploymentLegends {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 370px;
}

.deploymentRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deploymentLabel {
  display: flex;
  align-items: center;
  gap: 12px;
}

.deploymentDot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  flex-shrink: 0;
}

.deploymentLabelText {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.deploymentValue {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
}

.deploymentValueWithPercentage {
  display: flex;
  align-items: center;
  gap: 8px;
}

.deploymentSeparator {
  border-top: 1px solid #e5e5e5;
  margin: 8px 0;
}

.tableContainer {
  background-color: white;
  padding: 32px;
  margin-top: 16px;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 32px;
}

.logoContainer {
  margin-bottom: 16px;
}

.headerTitle {
  font-family: Marianne;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0%;
  color: #000091;
  margin: 0;
}

.periodSelectorContainer {
  max-width: 240px;
}
