*

!/server/src
!/server/static
!/server/package.json
!/server/tsconfig.json
!/server/tsoa.json
!/server/tsup.config.ts

!/shared

!/ui
/ui/.env
/ui/.next
/ui/.eslintrc.js

!/package.json
!/.yarn/cache
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/versions
!/yarn.lock
!/.yarnrc.yml

.git/
.infra
**/.local
**/dist
**/coverage
**/node_modules
*/tests
**/logs
