*

!/server
/server/.env
/server/.env.local

!/shared

!/ui
!/ui/.env
/ui/.next

!/package.json
!/.yarn/cache
!/.yarn/plugins
!/.yarn/releases
!/.yarn/versions
!/yarn.lock
!/.yarnrc.yml

.git/
.infra
**/dist
**/coverage
**/node_modules
*/tests
