version: "2.4"
services:
  reverse_proxy:
    image: flux_retour_cfas_reverse_proxy
    container_name: flux_retour_cfas_reverse_proxy
    build:
      context: reverse_proxy
    mem_limit: 256m
    restart: unless-stopped
    ports:
      - 80:80
    networks:
      - flux_retour_cfas_network
    depends_on:
      - server
      - ui

  ui:
    image: flux_retour_cfas_ui
    container_name: flux_retour_cfas_ui
    build:
      context: ui
    networks:
      - flux_retour_cfas_network
    depends_on:
      - server

  server:
    image: flux_retour_cfas_server
    container_name: flux_retour_cfas_server
    build:
      context: server
    restart: unless-stopped
    networks:
      - flux_retour_cfas_network
    depends_on:
      - mongodb
      - redis
    environment:
      - FLUX_RETOUR_CFAS_MONGODB_URI=mongodb://mongodb:27017/flux-retour-cfas?retryWrites=true&w=majority
      - FLUX_RETOUR_CFAS_REDIS_URI=redis://redis:6379

  mongodb:
    image: mongo:5.0.2-focal
    container_name: flux_retour_cfas_mongodb
    restart: unless-stopped
    networks:
      - flux_retour_cfas_network

  redis:
    image: 'redis:7.0.4-alpine'
    command: redis-server --save 60 1 --loglevel warning
    container_name: flux_retour_cfas_redis
    networks:
      - flux_retour_cfas_network

networks:
  flux_retour_cfas_network:
    name: flux_retour_cfas_network
