.tableWrapper {
  overflow-x: auto;

  &:focus-visible {
    outline: 2px solid var(--focus);
    outline-offset: 2px;
  }

  :global(.fr-table table) {
    display: table;
    width: 100%;
  }

  :global(.fr-table thead th > div) {
    align-items: center;

    i {
      line-height: 1;
      transform: translateY(-2px);
    }
  }

  :global(.fr-table thead th:first-child:has(.fr-sr-only)) {
    width: 3rem;
  }
}
