/* Marianne font */

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url(./fonts/Marianne-Regular.woff2) format("woff2"),
    url(./fonts/Marianne-Regular.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url(./fonts/Marianne-Bold.woff2) format("woff2"),
    url(./fonts/Marianne-Bold.woff) format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url(./fonts/Marianne-ExtraBold.woff2) format("woff2"),
    url(./fonts/Marianne-ExtraBold.woff) format("woff");
  font-weight: 800;
}

/* Inter font */

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./fonts/Inter-Thin.ttf") format("truetype");
  font-weight: 100;
  display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./fonts/Inter-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./fonts/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./fonts/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./fonts/Inter-Black.ttf") format("truetype");
  font-weight: 900;
  display: swap;
}
