@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url(./fonts/Marianne-Regular.woff2) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url(./fonts/Marianne-Bold.woff2) format("woff");
  font-weight: 700;
}
