.responsable {
  background-color: #e3e3fd;
}

.formateur {
  background-color: #fceeac;
}

.responsableFormateur {
  background-color: #e6feda;
}

.inconnue {
  white-space: nowrap;
  background-color: #ffe8e5;
}
