.backLink {
  margin-bottom: 1rem;
}

.title {
  margin-bottom: 0.5rem;
  color: var(--text-title-blue-france);
}

.intro {
  margin-bottom: 2rem;
}

.tableWrapper {
  overflow-x: auto;
}

.errorCount {
  font-weight: 700;
  color: var(--text-default-error);
}
