.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 32px;
}

.logoContainer {
  margin-bottom: 16px;
}

.headerTitle {
  font-family: Marianne;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0%;
  color: #000091;
  margin: 0;
}

.periodSelectorContainer {
  max-width: 320px;
}
