.menuIcon {
  margin-left: 4px;
  margin-right: 5px;
  min-width: 22px;
  min-height: 22px;
  flex-shrink: 0;
}

.regionsIcon {
  width: 22px;
  height: 22px;
  margin-left: 4px;
  margin-right: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.regionsIcon svg {
  width: 100%;
  height: 100%;
}

.regionItemIcon {
  width: 22px;
  height: 22px;
  margin-left: 4px;
  margin-right: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  vertical-align: middle;
}

.regionItemIcon svg {
  width: 100%;
  height: 100%;
}
