.mlHeaderContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mlHeaderTop {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.mlHeaderContent {
  flex: 1;
}

.mlHeaderContent h1 {
  color: var(--light-primary-blue-france-sun-113, #000091) !important;
}

.mlHeaderContentSubtext {
  color: var(--light-decisions-text-text-mention-grey, #666);
}

.mlHeaderContentSubtext a {
  color: var(--light-primary-blue-france-sun-113, #000091) !important;
}

.mlHeaderActions {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: flex-end;
  align-items: center;
}
