.pageHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.pageHeaderCenter {
  display: flex;
  align-items: center;
}

.pageHeaderText {
  margin: 0;
  font-weight: bold;
}

.pageHeaderDesktopText {
  display: flex;
  align-items: center;
}

.pageHeaderMobileText {
  display: none;
  align-items: center;
}

@media (max-width: 767px) {
  .pageHeaderDesktopText {
    display: none;
  }

  .pageHeaderMobileText {
    display: flex;
  }
}
