<mj-text font-size="12px" font-style="italic">
    <span>L'<a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000035274717/2020-11-09/">
        arrêté du 17 juillet 2017
    </a></span>, au 7e alinéa de l’article 4, précise que seuls les
    directeurs des centres de formation d'apprentis sont habilités à recevoir les données
    transmises mentionnées à l’article 3 de ce même arrêté.
</mj-text>
