.container {
  padding: 12px 0 24px 0;
}

.periodRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.chartsContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
