[defaults]
inventory = ../inventories/env.ini
interpreter_python = auto
result_format = yaml
bin_ansible_callbacks = True
# Send errors to stderr
# Do not remove this behavior as displaying errors can reveal secrets
display_failed_stderr = True
show_task_path_on_failure = True

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=5m
pipelining = True
retries = 3
reconnection_retries = 3
