---
- hosts: all
  become: true
  gather_facts: false
  vars_files:
    - "../vault/vault.yml"
  tasks:
    - name: Création de l'arborescence /opt/app à partir de .infra/files
      file:
        path: "/opt/app/{{ item.path }}"
        state: directory
        mode: "{{ item.mode }}"
      with_filetree: "{{inventory_dir}}/files"
      when:
        - item.state == 'directory'
        # /app/tools is managed by infra
        - item.path | regex_search('^tools/?') == none
        - item.path | regex_search('^system/?') == none

    - name: Copie des fichiers de l'arborescence /opt/app à partir de .infra/files
      ansible.builtin.template:
        src: "{{ item.src }}"
        dest: "/opt/app/{{ item.path }}"
        mode: "{{ item.mode }}"
      with_filetree: "{{inventory_dir}}/files"
      when:
        - item.state == 'file'
        - item.path | basename != '.gitkeep'
        # /app/tools is managed by infra
        - item.path | regex_search('^tools/?') == none
        - item.path | regex_search('^system/?') == none

    - name: copy server env file
      ansible.builtin.template:
        src: "{{ item }}"
        dest: "/opt/app/.env_server"
      with_fileglob:
        - "../.env_server"

    - name: copy du fichier docker compose
      ansible.builtin.template:
        src: "{{ item }}"
        dest: "/opt/app/docker-compose.production.yml"
      with_fileglob:
        - "../docker-compose.production.yml"

    - name: copy du fichier recette docker compose
      ansible.builtin.template:
        src: "{{ item }}"
        dest: "/opt/app/docker-compose.recette.yml"
      with_fileglob:
        - "../docker-compose.recette.yml"
      when: env_type == 'recette'

    - name: Création du docker-compose.yml {{env_type}}
      shell:
        chdir: /opt/app
        cmd: 'sudo docker compose $(for file in $(ls docker-compose.*.yml); do echo -n "-f $file "; done) config -o  docker-compose.yml'
      register: docker_deploy_output

    - name: Récupération des images docker
      shell:
        chdir: /opt/app
        cmd: "sudo docker compose pull"

    - name: Récupération du status de la stack
      shell:
        chdir: /opt/app
        cmd: docker stack ls --format json
      register: stack_status

    - name: Récupération du status des migrations
      shell:
        chdir: /opt/app
        cmd: "sudo /opt/app/scripts/migrations-status.sh"
      register: migration_status_output
      when: stack_status.stdout != ""

    - name: "Shutdown processor"
      shell:
        chdir: /opt/app
        cmd: "sudo docker service scale bal_processor=0"
      when:
        - stack_status.stdout != ""
        - '"migrations-status=synced" not in migration_status_output.stdout_lines'

    - name: "Activation du mode maintenance pour effectuer la migration"
      shell:
        chdir: /opt/app
        cmd: "sudo /opt/app/tools/maintenance/maintenance-on.sh"
      when:
        - stack_status.stdout != ""
        - '"migrations-status=synced" not in migration_status_output.stdout_lines'

    - name: "Shutdown server"
      shell:
        chdir: /opt/app
        cmd: "sudo docker service scale bal_server=0"
      when:
        - stack_status.stdout != ""
        - '"migrations-status=synced" not in migration_status_output.stdout_lines'

    - name: Lancement des migrations
      shell:
        chdir: /opt/app
        cmd: "sudo /opt/app/scripts/migrations-up.sh"
      when:
        - stack_status.stdout != ""
        - '"migrations-status=synced" not in migration_status_output.stdout_lines'
      async: 1800
      poll: 10

    - name: Lancement de l'application {{env_type}}
      shell:
        chdir: /opt/app
        cmd: 'sudo docker stack deploy $(for file in $(ls docker-compose.*.yml); do echo -n "-c $file "; done) bal'
      register: docker_deploy_output

    - debug:
        var: docker_deploy_output

    - name: Attente du deploiement
      shell:
        chdir: /opt/app
        cmd: "sudo docker run --rm -v /var/run/docker.sock:/var/run/docker.sock sudobmitch/docker-stack-wait bal"
      async: 1800
      poll: 10

    - name: "Reload du Reverse Proxy"
      shell:
        chdir: /opt/app
        cmd: "sudo /opt/app/tools/reload-proxy.sh"

    - name: "Verification des certificats SSL"
      shell:
        chdir: /opt/app
        cmd: "sudo /opt/app/tools/ssl/renew-certificate.sh {{dns_name}}"

    - name: "Setup de la Metabase"
      shell:
        chdir: /opt/app
        cmd: "sudo bash /opt/app/configs/metabase/setup-metabase.sh"
      timeout: 86400 # 1 day

    - name: "Prune Docker"
      shell:
        chdir: /opt/app
        cmd: "sudo docker system prune --all --force"

    - name: "Désactivation du mode maintenance"
      shell:
        chdir: /opt/app
        cmd: "sudo /opt/app/tools/maintenance/maintenance-off.sh"
