.regionStatsTable {
  display: flex;
  justify-content: center;
}

.regionStatsTable table {
  width: 100%;
  table-layout: fixed;
}

.regionStatsTable th:first-child,
.regionStatsTable td:first-child {
  width: 250px;
}

.regionStatsTable th:nth-child(2),
.regionStatsTable td:nth-child(2) {
  width: 180px;
  text-align: center;
}

.regionStatsTable th:nth-child(3),
.regionStatsTable td:nth-child(3) {
  width: 200px;
  text-align: center;
}

.regionStatsTable th:nth-child(4),
.regionStatsTable td:nth-child(4) {
  width: 150px;
  text-align: center;
}

.regionStatsTable th:nth-child(5),
.regionStatsTable td:nth-child(5) {
  width: 180px;
  text-align: center;
}

.centeredCell {
  composes: centeredCell from "./common.module.css";
}

.buttonContainer {
  composes: buttonContainer from "./common.module.css";
}

.emptyMessage {
  composes: emptyMessage from "./common.module.css";
}

.delta {
  composes: delta from "./common.module.css";
}

.deltaZero {
  composes: deltaZero from "./common.module.css";
}

.deltaPositive {
  composes: deltaPositive from "./common.module.css";
}

.deltaNegative {
  composes: deltaNegative from "./common.module.css";
}

.variation {
  composes: variation from "./common.module.css";
}

.variationZero {
  composes: variationZero from "./common.module.css";
}

.variationPositive {
  composes: variationPositive from "./common.module.css";
}

.variationNegative {
  composes: variationNegative from "./common.module.css";
}

.detailArrow {
  color: #000091;
}

.detailLink {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.regionStatsTable tbody tr {
  position: relative;
}

.stretchedLink::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.regionStatsTable tbody tr:has(.stretchedLink) {
  cursor: pointer;
}

.regionStatsTable tbody tr:has(.stretchedLink):hover {
  background-color: var(--background-alt-grey);
}

.regionStatsTable th:nth-child(6),
.regionStatsTable td:nth-child(6) {
  width: 80px;
}
