{
  "root": true,
  "extends": ["eslint:recommended", "plugin:node/recommended-module", "plugin:prettier/recommended"],
  "plugins": ["mocha", "import"],
  "rules": {
    "import/no-unresolved": 2,
    "import/no-commonjs": 2,
    "import/extensions": [2, "ignorePackages"],
    "node/file-extension-in-import": [
      "error",
      "always",
      {
        "tryExtensions": [".js", ".json", ".node"]
      }
    ]
  },
  "env": {
    "es2021": true,
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": "tests/**/*.js",
      "rules": {
        "node/no-unpublished-import": 0
      }
    }
  ]
}
