Port 22
Protocol 2
StrictModes yes

#Authentication
PubkeyAuthentication yes
AuthenticationMethods publickey
UsePAM yes
PermitRootLogin no
PasswordAuthentication no
PermitEmptyPasswords no
RSAAuthentication no
ChallengeResponseAuthentication no
RhostsRSAAuthentication no
HostbasedAuthentication no
IgnoreRhosts yes

#Misc
UsePrivilegeSeparation yes
KeyRegenerationInterval 3600
ServerKeyBits 1024
SyslogFacility AUTH
LogLevel VERBOSE
LoginGraceTime 120
IgnoreRhosts yes
X11Forwarding no
PrintMotd no
PrintLastLog yes
AcceptEnv LANG LC_*                                             #Allow client to pass locale environment variables
ClientAliveInterval 900                                         #Client timeout (15 minutes)
ClientAliveCountMax 0                                           #This way enforces timeouts on the server side
LoginGraceTime 30                                               #Authentication must happen within 30 seconds
MaxStartups 2                                                   #Max concurrent SSH sessions
TCPKeepAlive yes
Subsystem sftp /usr/lib/openssh/sftp-server

#Tunnel
#PermitTunnel no                                                 #Only SSH connection and nothing else
#AllowTcpForwarding no                                           #Disablow tunneling out via SSH
#AllowStreamLocalForwarding no                                   #Disablow tunneling out via SSH
#GatewayPorts no                                                 #Disablow tunneling out via SSH
#AllowAgentForwarding no                                         #Do not allow agent forwardng
