location /_monitoring/cadvisor {
    set $upstream http://cadvisor:8080/metrics;
    include includes/proxy.conf;
}
location /_monitoring/nodeexporter {
    set $upstream http://nodeexporter:9100/metrics;
    include includes/proxy.conf;
}
