# The following variables define reusable configurations for deployment, providing consistent and predefined
# behaviors for updating, rolling back, and restarting services.

x-deploy-default: &deploy-default
  update_config:
    failure_action: rollback
    parallelism: 1
    delay: 10s
  rollback_config:
    parallelism: 1
    delay: 10s
  restart_policy:
    window: 360s
    delay: 30s
    # Max 24hours
    max_attempts: 240

x-default: &default
  networks:
    - mna_network

services:
  server:
    <<: *default
    image: ghcr.io/mission-apprentissage/mna_tdb_server:{{app_version}}
    deploy:
      <<: *deploy-default
      resources:
        limits:
          memory: 2g
      replicas: 2
    env_file: .env_server
    volumes:
      - /opt/app/data/server:/data
    logging:
      driver: "fluentd"
      options:
        fluentd-address: localhost:24224
        tag: docker.json.tdb.{{env_type}}.server
        fluentd-async: "true"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:5000/api/healthcheck"]
      interval: 10s
      timeout: 30s
      retries: 11
      start_period: 10s

  queue_processor:
    <<: *default
    image: ghcr.io/mission-apprentissage/mna_tdb_server:{{app_version}}
    deploy:
      <<: *deploy-default
      resources:
        limits:
          memory: 2g
    command: ["yarn", "cli", "queue_processor:start"]
    env_file: .env_server
    volumes:
      - /opt/app/data/server:/data
    logging:
      driver: "fluentd"
      options:
        fluentd-address: localhost:24224
        tag: docker.json.tdb.{{env_type}}.queue_processor
        fluentd-async: "true"

  jobs_processor:
    <<: *default
    image: ghcr.io/mission-apprentissage/mna_tdb_server:{{app_version}}
    deploy:
      <<: *deploy-default
      resources:
        limits:
          memory: 2g
    command: ["yarn", "cli", "job_processor:start"]
    env_file: .env_server
    volumes:
      - /opt/app/data/server:/data
    logging:
      driver: "fluentd"
      options:
        fluentd-address: localhost:24224
        tag: docker.json.tdb.{{env_type}}.jobs_processor
        fluentd-async: "true"

  ui:
    <<: *default
    image: ghcr.io/mission-apprentissage/mna_tdb_ui:{{app_version}}-{{env_type}}
    deploy:
      <<: *deploy-default
      resources:
        limits:
          memory: 256m
      replicas: 2
    env_file: .env_ui
    logging:
      driver: "fluentd"
      options:
        fluentd-address: localhost:24224
        tag: docker.txt.tdb.{{env_type}}.ui
        fluentd-async: "true"

  metabase:
    <<: *default
    image: metabase/metabase:v0.55.20
    deploy:
      <<: *deploy-default
      resources:
        limits:
          memory: 2g
    environment:
      JAVA_TIMEZONE: Europe/Paris
      MB_SITE_LOCALE: fr
      MB_SITE_URL: "{{dns_name}}/metabase"
      MB_DB_TYPE: postgres
      MB_DB_CONNECTION_URI: "{{vault[env_type].MNA_TDB_METABASE_DB_URI}}"
      MB_ENCRYPTION_SECRET_KEY: "{{vault[env_type].MNA_TDB_METABASE_ENCRYPTION_SECRET_KEY}}"
      MB_EMAIL_FROM_ADDRESS: "{{vault.METABASE_EMAIL_FROM_ADDRESS}}"
      MB_EMAIL_FROM_NAME: "{{vault.METABASE_EMAIL_FROM_NAME}}"
      MB_PASSWORD_COMPLEXITY: strong
      MB_START_OF_WEEK: monday
      MB_EMAIL_SMTP_HOST: "{{vault[env_type].MNA_TDB_SMTP_HOST}}"
      MB_EMAIL_SMTP_PORT: "{{vault[env_type].MNA_TDB_SMTP_PORT}}"
      MB_EMAIL_SMTP_USERNAME: "{{vault[env_type].MNA_TDB_SMTP_AUTH_USER}}"
      MB_EMAIL_SMTP_PASSWORD: "{{vault[env_type].MNA_TDB_SMTP_AUTH_PASS}}"
      MB_EMAIL_SMTP_SECURITY: tls
    healthcheck:
      test: curl --fail -I http://localhost:3000/api/health || exit 1
      interval: 15s
      timeout: 5s
      retries: 5
      start_period: 6m
    logging:
      driver: "fluentd"
      options:
        fluentd-address: localhost:24224
        tag: docker.json.tdb.{{env_type}}.metabase
        fluentd-async: "true"
