.title {
  margin-bottom: 1.5rem;
  color: var(--text-title-blue-france);
}

.sectionTitle {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--text-title-grey);
}

.contactLink {
  white-space: nowrap;
}
