.mapContainer {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mapContainer svg {
  width: 100%;
  height: 100%;
  max-width: 60px;
  max-height: 60px;
  margin-bottom: 8px;
}

.warningBanner {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 16px;
  background-color: #fee9e6;
  color: #c9191e;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 24px;
}

.warningBanner .fr-icon-info-fill::before {
  color: #c9191e;
}
