<mj-text>
    Procédure de transmission des candidats à l’apprentissage en 2022 :
    <ul>
        <li>
            Dès réception de ce courriel, confirmez ou renseignez l’adresse email du directeur, en cliquant sur le
            bouton ci-dessus. Cette étape est indispensable pour permettre la transmission des listes de vœux.
        </li>
        <li>
            La transmission de listes de vœux s’effectuera ensuite en 3 temps : dans la semaine du 6 juin, dans la
            semaine du 20 juin et dans la semaine du 4 juillet.
            <ul>
                <li>Des emails de notification seront envoyés au directeur de l’établissement à chacune de ces dates,
                    uniquement si des vœux sont exprimés sur votre établissement et/ou l’un des établissements dont vous
                    avez la charge.
                </li>
                <li>Le premier accès demandera de définir un mot de passe, puis de se connecter au compte.</li>
                <li>Chaque fichier compile l’ensemble des vœux exprimés. Si un jeune retire son choix, il est retiré du
                    fichier.
                </li>
            </ul>
        </li>
        <li>Si votre établissement est responsable d’autres établissements d’accueil, la connexion au compte permettra
            de télécharger les listes pour chaque établissement sur lequel des vœux ont été exprimés.
        </li>
    </ul>
</mj-text>
