<mj-text padding-top="20px">
    <strong>Mission interministérielle pour l'apprentissage et les trajectoires professionnelles</strong>
    <br>
    <a target="_blank" href="https://beta.gouv.fr/startups/?incubateur=mission-apprentissage" class="link-nostyle">
        En savoir plus sur la Mission
    </a>
</mj-text>
