.userLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.3;
}

.userName {
  font-weight: 700;
}

.organisation {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.75rem;
  font-weight: 400;
}

.accountLabel {
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}
