.container {
  max-width: 1232px;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin: auto;
}

.containerGrow {
  flex: 1;
  max-width: 1232px;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin: auto;
}

.grow {
  flex: 1;
}

.growGrey {
  flex: 1;
  background: var(--background-default-grey);
}
