@use "@/styles/breakpoints" as *;
@use "../landing-shared" as *;

.section {
  @extend %landing-section;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: auto;
  max-width: var(--container-xl);
  text-align: left;
  background: linear-gradient(0deg, #6a6af4 -22.59%, #3c3cf1 166.66%), #6a6af4;
  border-radius: 12px;

  @include respond-from(md) {
    padding-top: 3.5rem;
    padding-right: 2.5rem;
    padding-bottom: 3.5rem;
    padding-left: 2.5rem;
    margin-top: 0;
    margin-right: 1.5rem;
    margin-bottom: 0;
    margin-left: 1.5rem;
  }

  @include respond-from(lg) {
    width: 100%;
    padding-top: 5rem;
    padding-right: 6.375rem;
    padding-bottom: 5rem;
    padding-left: 6.375rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    border-radius: 18px;
  }
}

.title {
  max-width: 49.5rem;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--light-decisions-text-text-inverted-blue-france, #f5f5fe);

  @include respond-from(md) {
    font-size: 32px;
    line-height: 40px;
  }
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row,
.rowStats {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 1.5rem;

  @include respond-from(lg) {
    flex-direction: row;
    gap: 2rem;
    align-items: flex-end;
    height: 10.625rem;
    padding-top: 1.875rem;
    padding-right: 2rem;
    padding-bottom: 1.9375rem;
    padding-left: 2rem;
  }
}

.row {
  background: var(--light-decisions-background-background-default-grey, #fff);
}

.rowStats {
  background: var(--light-decisions-background-background-contrast-blue-france, #ececfe);
}

.rowLeft {
  display: flex;
  flex: 1;
  gap: 1.5rem;
  align-items: center;
  min-width: 0;

  @include respond-from(md) {
    gap: 2.5rem;
  }
}

.rowIcon {
  flex-shrink: 0;
  font-size: 32px;
  color: var(--light-decisions-text-text-title-blue-france, #000091);
}

.rowText {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  min-width: 0;
  max-width: 37.5rem;
}

.rowTitle {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: var(--light-decisions-text-text-title-blue-france, #000091);
}

.rowDescription {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--light-decisions-text-text-default-grey, #3a3a3a);
}

.rowRight {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;

  @include respond-from(lg) {
    align-items: flex-end;
  }
}

.rowLink {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--light-decisions-text-text-action-high-blue-france, #000091);
}
