@use "../../../styles/breakpoints" as *;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  text-align: center;
  margin-top: 16px;

  @include respond-from(md) {
    margin-top: 32px;
  }

  @include respond-from(lg) {
    gap: 32px;
    margin-top: 64px;
  }
}

.titleBlock {
  width: 880px;
  max-width: 100%;
  padding: 0 24px;
  box-sizing: border-box;
}

.title {
  font-family: Marianne;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  color: var(--light-decisions-text-text-title-grey, #161616);

  @include respond-from(md) {
    font-size: 40px;
    line-height: 48px;
  }
}

.subtitle {
  font-family: Marianne;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--light-decisions-text-text-mention-grey, #666);
}

.heroBlock {
  width: 100%;
  margin-top: 64px;
  background: linear-gradient(180deg, #adadf9 3.87%, rgba(173, 173, 249, 0) 59.35%);

  @include respond-from(md) {
    margin-top: 120px;
  }

  @include respond-from(lg) {
    margin-top: 200px;
  }
}

.heroImage {
  width: 100%;
  max-width: 880px;
  height: auto;
  margin-top: -90px;

  @include respond-from(md) {
    margin-top: -120px;
  }

  @include respond-from(lg) {
    margin-top: -205px;
  }
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 16px;
  max-width: 1080px;
  margin: 24px auto 0;
  padding: 0 24px;
  box-sizing: border-box;

  @include respond-from(md) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 32px;
  }

  @include respond-from(lg) {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.accesLandingCardContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 16px;
  background: var(--light-decisions-background-background-default-grey, #fff);
  border: 1px solid var(--light-decisions-border-border-default-grey, #ddd);
  border-bottom: 2px solid var(--light-decisions-text-text-title-blue-france, #000091);
}

.accesLandingCardImg {
  width: 100%;
  height: auto;
  max-width: 384px;
  object-fit: contain;
}

.accesLandingCardTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 100%;
  padding: 0 32px;
  text-align: center;
}

.accesLandingCardTitle {
  margin: 0;
  font-family: Marianne;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: var(--light-decisions-text-text-title-blue-france, #000091);
  text-align: start;
}

.accesLandingCardDescription {
  font-family: Marianne;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background: var(--light-decisions-background-background-default-grey, #fff);
  text-align: start;
}

.accesLandingCardButton {
  margin-top: auto;
  margin-right: auto;
}
