.emptyStateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.emptyStateImageWrapper {
  position: relative;
  width: 100%;
  max-width: 650px;
  aspect-ratio: 650 / 288;
}

.emptyStateContainer:has(.emptyStateContent) {
  min-height: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  margin-top: 2rem;
  max-width: 650px;
  margin: auto;
}

.emptyStateContent {
  text-align: center;
  max-width: 650px;
}

.emptyStateIcon {
  font-size: 4rem;
  color: #666;
  margin-bottom: 1.5rem;
}

.emptyStateText {
  font-size: 1.25rem;
  font-weight: 700;
  color: #000091;
  line-height: 1.6;
  margin: 0;
}
