.card {
  padding: clamp(0px, 3vw, 2rem);
  background-color: var(--background-default-grey);
}

.footerText {
  margin: 0;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 1rem;
}

.actionsColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}

.alert {
  margin-top: 2rem;
}
