.react-datepicker {
  font-family: "Inter", sans-serif;
  border-color: #d5dbef;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  border-bottom-color: #f9fafc;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
  border-bottom-color: #d5dbef;
}

.react-datepicker__month .react-datepicker__month-text {
  text-transform: capitalize;
  color: #1e1e1e;
  padding: 4px 8px;
  margin: 4px;
  width: 96px;
  font-weight: 400;
}

.react-datepicker__month .react-datepicker__month--selected,
.react-datepicker__month .react-datepicker__month-text--keyboard-selected {
  border-radius: 0.3rem;
  background-color: #000091;
  color: #fff;
}

.react-datepicker__month .react-datepicker__month--disabled {
  color: #d5dbef;
  border-radius: 0.3rem;
}

.react-datepicker__header {
  color: #000091;
  text-align: center;
  background-color: #f9fafc;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom-color: #eef1f8;
}
