.title {
  color: var(--background-flat-blue-cumulus);
  margin-bottom: 2rem;
}

.description {
  margin-bottom: 1rem;
}

.accordionLabel {
  color: var(--text-action-high-blue-france);
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.accordionIcon {
  color: var(--text-action-high-blue-france);
}

.accordionContent {
  animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
