---
vault:
  # OVH Storage
  FLUX_RETOUR_CFAS_OVH_STORAGE_USERNAME: ""
  FLUX_RETOUR_CFAS_OVH_STORAGE_PASSWORD: ""
  FLUX_RETOUR_CFAS_OVH_STORAGE_AUTH_URL: ""
  FLUX_RETOUR_CFAS_OVH_STORAGE_TENANT_ID: ""
  FLUX_RETOUR_CFAS_OVH_STORAGE_REGION: ""
  FLUX_RETOUR_CFAS_OVH_STORAGE_CONTAINER_NAME: ""
  # MongoDb
  DB_NAME: ""
  DB_ADMIN_NAME: ""
  DB_SIBLING_NAME: ""
  # Slack
  FLUX_RETOUR_CFAS_SLACK_WEBHOOK_URL: ""
  production:
    # Habilitations
    FLUX_RETOUR_CFAS_HABILITATION_PASSWORD: ""
    # MongoDb
    FLUX_RETOUR_CFAS_MONGODB_URI: ""
    FLUX_RETOUR_CFAS_MONGODB_USER: ""
    FLUX_RETOUR_CFAS_MONGODB_USER_PASSWORD: ""
    FLUX_RETOUR_CFAS_MONGODB_ADMIN_USER: ""
    FLUX_RETOUR_CFAS_MONGODB_ADMIN_PASSWORD: ""
    FLUX_RETOUR_CFAS_MONGODB_BACKUP_USER: ""
    FLUX_RETOUR_CFAS_MONGODB_BACKUP_PASSWORD: ""
    FLUX_RETOUR_CFAS_MONGODB_METABASE_USER: ""
    FLUX_RETOUR_CFAS_MONGODB_METABASE_PASSWORD: ""
    # Auth
    FLUX_RETOUR_CFAS_AUTH_PASSWORD_HASH_ROUNDS: ""
    FLUX_RETOUR_CFAS_AUTH_USER_JWT_SECRET: ""
    FLUX_RETOUR_CFAS_AUTH_USER_JWT_SECRET_EXPIRES: ""
    # Admin
    FLUX_RETOUR_CFAS_USERS_DEFAULT_ADMIN_NAME: ""
    FLUX_RETOUR_CFAS_USERS_DEFAULT_ADMIN_PASSWORD: ""
    FLUX_RETOUR_CFAS_USERS_DEFAULT_ADMIN_PERMISSIONS: ""
  recette:
    # Habilitations
    FLUX_RETOUR_CFAS_HABILITATION_PASSWORD: ""
    # MongoDb
    FLUX_RETOUR_CFAS_MONGODB_URI: ""
    FLUX_RETOUR_CFAS_MONGODB_USER: ""
    FLUX_RETOUR_CFAS_MONGODB_USER_PASSWORD: ""
    FLUX_RETOUR_CFAS_MONGODB_ADMIN_USER: ""
    FLUX_RETOUR_CFAS_MONGODB_ADMIN_PASSWORD: ""
    FLUX_RETOUR_CFAS_MONGODB_BACKUP_USER: ""
    FLUX_RETOUR_CFAS_MONGODB_BACKUP_PASSWORD: ""
    FLUX_RETOUR_CFAS_MONGODB_METABASE_USER: ""
    FLUX_RETOUR_CFAS_MONGODB_METABASE_PASSWORD: ""
    # Auth
    FLUX_RETOUR_CFAS_AUTH_PASSWORD_HASH_ROUNDS: ""
    FLUX_RETOUR_CFAS_AUTH_USER_JWT_SECRET: ""
    FLUX_RETOUR_CFAS_AUTH_USER_JWT_SECRET_EXPIRES: ""
    # Admin
    FLUX_RETOUR_CFAS_USERS_DEFAULT_ADMIN_NAME: ""
    FLUX_RETOUR_CFAS_USERS_DEFAULT_ADMIN_PASSWORD: ""
    FLUX_RETOUR_CFAS_USERS_DEFAULT_ADMIN_PERMISSIONS: ""
  dev:
    # Habilitations
    FLUX_RETOUR_CFAS_HABILITATION_PASSWORD: ""
    # MongoDb
    FLUX_RETOUR_CFAS_MONGODB_URI: ""
    FLUX_RETOUR_CFAS_MONGODB_USER: ""
    FLUX_RETOUR_CFAS_MONGODB_USER_PASSWORD: ""
    FLUX_RETOUR_CFAS_MONGODB_ADMIN_USER: ""
    FLUX_RETOUR_CFAS_MONGODB_ADMIN_PASSWORD: ""
    FLUX_RETOUR_CFAS_MONGODB_BACKUP_USER: ""
    FLUX_RETOUR_CFAS_MONGODB_BACKUP_PASSWORD: ""
    FLUX_RETOUR_CFAS_MONGODB_METABASE_USER: ""
    FLUX_RETOUR_CFAS_MONGODB_METABASE_PASSWORD: ""
    # Auth
    FLUX_RETOUR_CFAS_AUTH_PASSWORD_HASH_ROUNDS: ""
    FLUX_RETOUR_CFAS_AUTH_USER_JWT_SECRET: ""
    FLUX_RETOUR_CFAS_AUTH_USER_JWT_SECRET_EXPIRES: ""
    # Admin
    FLUX_RETOUR_CFAS_USERS_DEFAULT_ADMIN_NAME: ""
    FLUX_RETOUR_CFAS_USERS_DEFAULT_ADMIN_PASSWORD: ""
    FLUX_RETOUR_CFAS_USERS_DEFAULT_ADMIN_PERMISSIONS: ""

