.sideMenu {
  top: 2rem;
}

.title {
  margin-bottom: 0.5rem;
  color: var(--text-title-blue-france);
}

.version {
  color: var(--text-mention-grey);
}

.article {
  margin-top: 2.5rem;
  scroll-margin-top: 2rem;
}

.articleTitle {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--text-title-grey);
}

.mailLink {
  white-space: nowrap;
}
