{
  "root": true,
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest/globals": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended",
    "plugin:prettier/recommended" // Make sure this is always the last element in the array.
  ],
  "rules": {
    "prettier/prettier": "error",
    /* REACT */
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "warn",
    "react/button-has-type": "error",
    "react/destructuring-assignment": "error",
    "react/no-did-mount-set-state": "error",
    "react/no-did-update-set-state": "error",
    "react/no-unsafe": "error",
    "react/no-unused-prop-types": "error",
    "react/no-unused-state": "error",
    "react/jsx-no-useless-fragment": "error",
    /* REACT HOOKS */
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    /* CHAKRA */
    "chakra-ui/props-shorthand": ["error", { "noShorthand": true }],
    /* IMPORT ORDER */
    "import/order": "off",
    "simple-import-sort/imports": "error"
  },
  "plugins": ["simple-import-sort", "import", "react", "react-hooks", "chakra-ui", "jest", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
