.mlCardContainer {
  border: 1px solid var(--border-default-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding: 6rem 8rem;
  gap: 32px;
}

.mlCardTitle {
  margin-bottom: 8px;
  color: var(--text-title-blue-france);
}

.mlCardSubtitle {
  margin-bottom: 16px;
  font-weight: 400;
}

.mlCardImage {
  width: 350px;
  height: auto;
  user-select: none;
  margin-bottom: 16px;
}

.mlCardBody {
  margin-bottom: 16px;
}
