.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.legendSkeleton {
  padding: 0 1rem;
}

.legend {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.legendItem {
  display: flex;
  align-items: center;
}

.legendIcon {
  width: 12px;
  height: 12px;
  color: #000091;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.legendLabel {
  font-size: 1rem;
  font-weight: 500;
  color: #161616;
  flex: 1;
  margin-left: 10px;
}

.legendValue {
  font-size: 1rem;
  font-weight: 700;
  color: #161616;
}
