.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.chartSection {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.legendSection {
  margin-top: auto;
}
