name: CI

on:
  workflow_call:
    secrets:
      CODECOV_TOKEN:
        description: Code coverrage token
        required: true

jobs:
  tests:
    name: "Tests"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - uses: actions/setup-node@v3
        with:
          node-version: 20

      - uses: actions/cache@v3
        with:
          path: |
            **/node_modules
            .yarn/install-state.gz
            .yarn/cache
          key: yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: yarn-

      - name: Install dependencies
        run: yarn install

      - name: Make sure to use same dependencies version across all packages
        run: yarn dedupe --check

      - name: lint
        run: yarn lint

      - name: typecheck
        run: yarn typecheck:ci

      - name: test
        run: yarn test:ci

      - name: prettier
        run: yarn prettier:check

      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
  failJob:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Generate fake error logs
        run: echo "Failure logs" > /tmp/deploy_error.log

      - name: Fail job
        run: exit 2

      - name: Encrypt Error log on failure
        run: .bin/mna-tdb deploy:log:encrypt
        if: failure()

      - name: Upload failure artifacts on failure
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: error-logs
          path: /tmp/deploy_error.log.gpg
